reference_frame: "gps_origin"

control_action_interval: 0.01 # [s]
uvdar_msg_interval: 0.1 # [s]

# offset from the leader position to be maintained
desired_offset:
  x: -3.0 # [m]
  y: 3.0 # [m]
  z: 0.0 # [m]

# rotation offset around the world vertical axis
heading_offset: -1.5 # [rad]

# Noise parameters of the Kalman velocity estimator

# Process noise
Q: [1, 0, 0, 0, 0, 0,
    0, 1, 0, 0, 0, 0,
    0, 0, 10, 0, 0, 0,
    0, 0, 0, 5.5, 0, 0,
    0, 0, 0, 0, 5.5, 0,
    0, 0, 0, 0, 0, 1]

# # Measurement noise
R: [30, 0, 0,
    0, 30, 0,
    0, 0, 40]
