<launch>
  <arg name="follower_uav" default="$(optenv UAV_NAME uav2)" />
  <node name="follower" pkg="uvdar_leader_follower" type="follower" output="screen">
    <rosparam file="$(find uvdar_leader_follower)/config/follower.yaml" command="load" />
    <remap from="~uvdar_in" to="/$(arg follower_uav)/uvdar/filteredPoses" />
    <remap from="~odometry_in" to="/$(arg follower_uav)/odometry/odom_main" />
    <remap from="~reference_point_out" to="/$(arg follower_uav)/control_manager/reference" />
    <remap from="~reference_trajectory_out" to="/$(arg follower_uav)/control_manager/trajectory_reference" />
    <remap from="~speed_tracker_command_out" to="/$(arg follower_uav)/control_manager/speed_tracker/command" />
    <remap from="~switch_tracker_srv_out" to="/$(arg follower_uav)/control_manager/switch_tracker" />
    <remap from="~estimate_out" to="/$(arg follower_uav)/debug/leader_state_estimate" />
  </node>

</launch>
